*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container{
    display: flex;
    width: 100%;
    row-gap: 20px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.heading{
    background-color: blue;
    color: yellow;
    height: 4.5vh;
    font-size: 18px;
    width: 88%;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.container{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.map_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    height: 325px;
    border-radius: 1vh;
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.description_container{
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 0 10px;
    width: 46%;
    height: 325px;
    font-size: large;
    border-radius: 1vh;
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
 .description_container:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        }

 .map_container:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        }
